@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Hanken Grotesk", sans-serif !important;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.drop-shadow-neon {
  text-shadow:
    0 0 5px #fff,
    0 0 10px #ff00cc,
    0 0 15px #ff00cc;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  24%,
  55% {
    opacity: 0.5;
  }
}

.neon-sign {
  color: #facc15;
  text-shadow:
    0 0 5px #facc15,
    0 0 10px #facc15,
    0 0 20px #facc15,
    0 0 40px #facc15;
  animation: flicker 2s infinite;
  font-family: "Press Start 2P", cursive; /* or other retro font */
}
