@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Hanken Grotesk", sans-serif !important;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradientBorder {
  0% {
    border-color: #ff9b7a;
  }
  25% {
    border-color: #ffdc7a;
  }
  50% {
    border-color: #7affa1;
  }
  75% {
    border-color: #7ad4ff;
  }
  100% {
    border-color: #ff9b7a;
  }
}

.paragraph-funky {
  border: 3px solid #ff9b7a;
  border-radius: 12px;
  padding: 1.5rem;
  animation: gradientBorder 5s infinite linear;
}

#Mates,
#Loft,
#Downstairs,
#Upstairs,
#Morris {
  scroll-margin-top: 76px; /* tweak as needed */
}
